<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Details | Common Room</title>
    <link rel="icon" href="/static/img/iconLetter.png" type="image/png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Grenze&family=Macondo+Swash+Caps&family=Uncial+Antiqua&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/movie-details.css" />
  </head>
  <body>
    <!--Header-->
    <div id="header-placeholder"></div>

    <!--Sidebar-->
    <div id="sidebar-placeholder"></div>

    <!-- =========================================== Detalles de Película =========================================== -->
    <div class="main-layout">
      <div class="left-panel-wrapper">
        <div class="left-panel">
          <img
            src="/static/img/movie.png"
            alt="Poster de la película"
            class="movie-poster"
          />
          <div class="movie-title">
            Mission: Impossible - Dead Reckoning Part Two
          </div>
        </div>
      </div>

      <main class="movie-detail">
        <!-- Center Panel -->
        <section class="center-panel">
          <div class="tabs">
            <button class="tab selected" data-tab="description">
              Description
            </button>
            <button class="tab" data-tab="details">Details</button>
          </div>

          <div id="description" class="description-box">
            <p>
              <em>
                Ethan Hunt y su equipo continúan su búsqueda de la aterradora IA
                conocida como <strong>la Entidad</strong> — que se ha infiltrado
                en redes de inteligencia de todo el mundo — mientras gobiernos y
                un fantasma del pasado de Hunt los persiguen. Unidos con nuevos
                aliados y con los medios para apagarla de una vez por todas,
                Hunt debe evitar que el mundo cambie para siempre.
              </em>
            </p>
          </div>

          <div id="details" class="description-box" style="display: none">
            <p>
              <em
                >Director: Christopher McQuarrie<br />Año: 2023<br />Duración:
                163 min<br />Género: Acción, Thriller</em
              >
            </p>
          </div>

          <button class="review-btn">Reviews</button>

          <div class="reviews">
            <div class="review">
              <div class="review-header">
                <img src="/static/img/user.png" class="review-avatar" />
                <div>
                  <strong>Review by MangelRogel</strong>
                  <span class="stars">★★★★★</span>
                  <span class="likes">💚 -1</span>
                </div>
              </div>
              <div class="review-title">
                CHAVAL POR DIOS QUE BUENA PELICULA CHAVAL <br />
                <br />
                CINE CINE CINE
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <!-- =========================================== Footer =========================================== -->
    <footer>© 2025 | The Common Room | Fenoy, Francano y Perez</footer>

    <!-- =========================================== JavaScript =========================================== -->
    <script src="/static/js/alternateTabs.js"></script>

    <!--Conexion con el Header y Sidebar-->
    <script>
      fetch("fragments/header.html")
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("header-placeholder").innerHTML = data;
        });

      fetch("fragments/sidebar.html")
        .then((response) => response.text())
        .then((data) => {
          document.getElementById("sidebar-placeholder").innerHTML = data;
        });
    </script>
    
  </body>
</html>
