<!-- templates/header.html -->
<header class="top-header">
  <div class="logo-container">
    <a href="index.html" class="logo-link" title="Home">
      <img src="/static/img/iconLetter.png" alt="Logo" class="logo-img" />
    </a>
  </div>

  <input type="text" class="search-bar" placeholder="Buscar..." />

  <div class="user-buttons">
    <a href="signin.html" class="user-section" title="Sign In">
      <span class="sign-in-text">Sign in</span>
    </a>
    <a href="signin.html?register=true" class="user-section" title="Register">
      <span class="sign-in-text">Register</span>
    </a>
  </div>
</header>
