<!-- templates/fragments/modal-review.html -->
<div th:fragment="modalReview" id="review-modal" class="modal-review-overlay">
  <div class="modal-review-box animate-in">
    <!-- Header -->
    <div class="modal-review-header">
      <h2 class="modal-title">Review +</h2>
      <span class="modal-close" onclick="closeReviewModal()">X</span>
    </div>

    <!-- Body -->
    <div class="modal-review-body">
      <!-- Columna Poster -->
      <div class="modal-column poster-column">
        <img id="review-movie-poster" src="/img/default-poster.jpg" alt="Poster Película" class="modal-review-poster" />
      </div>

      <!-- Columna Detalles -->
      <div class="modal-column details-column">
        <!-- Titulo y Año -->
        <h3 class="modal-review-title">
          <span id="review-movie-title">Título película</span>
          <em id="review-movie-year">(20XX)</em>
        </h3>

        <!-- Rating -->
        <div class="rating-section">
          <span class="rating-label">Rating <span class="required">*</span></span>
          <div id="star-container" class="star-container"></div>
        </div>
      </div>

      <!-- Apartado de descripcion -->
      <div class="modal-column description-column">
        <label for="review-comment" class="description-label">Descripción <em>(opcional)</em></label>
        <textarea id="review-comment" class="review-description" placeholder=""></textarea>
      </div>
    </div>

    <!-- Boton para subir reseña -->
    <div class="modal-review-footer">
      <button class="btn-submit" onclick="submitReview()">NEW</button>
    </div>
  </div>
</div>