<!-- templates/sidebar.html -->
<aside class="sidebar">
  <!-- Ícono de listas -->
  <div class="sidebar-item" data-label="Listas" title="Movie List">
    <a href="moviesheet.html">
      <img src="/static/img/list.png" class="icon" alt="Listas" />
    </a>
  </div>

  <!-- Ícono de películas -->
  <div class="sidebar-item" data-label="Películas" title="Movies">
    <a href="#">
      <img src="/static/img/movies.png" class="icon" alt="Películas" />
    </a>
  </div>

  <!-- Ícono de usuarios -->
  <div class="sidebar-item" data-label="Usuarios" title="Users">
    <a href="#">
      <img src="/static/img/users.png" class="icon" alt="Usuarios" />
    </a>
  </div>
</aside>
